modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "cloudrun"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "github:1.0.0", "sendgrid:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "fontconfig", "freetype", "gdk-pixbuf", "geos", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "pkg-config", "re2", "tesseract", "unzip", "xsimd", "zlib", "graphviz", "exiftool"]

[userenv]

[userenv.shared]
STRIPE_PRICE_SEEKER = "price_1TBO1aIoyf122ZOhzYHZ9A58"
STRIPE_PRICE_ORACLE = "price_1TBO1bIoyf122ZOhXMEr60Js"
STRIPE_PRICE_SOVEREIGN = "price_1TBO1bIoyf122ZOhJ5hNVocU"
STRIPE_SECRET_KEY = "sk_test_51TBMhgIoyf122ZOhMQdGEHb05ZrflHoRWyER6IreG5NwAys1ouy2cYgkwQXxARPepwhur1QLSdyQ9EgdLYJpCak700eLzFyHbs"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TBMhgIoyf122ZOheTYgUJwGkjvL2o5QYguayj7GAB7NYEVngwfriQ04OvG1am682bhfhHpHJnOtZnmdmrlMFhch00uuqaXu5M"
STRIPE_PRICE_SPARK = "price_1TBQ36Ioyf122ZOhFxqnwZ6I"
STRIPE_PRICE_SURGE = "price_1TBQ36Ioyf122ZOh9TZXptNa"
STRIPE_PRICE_APEX = "price_1TBQ36Ioyf122ZOhD02tVgBm"
GOOGLE_CLIENT_ID = "66165770155-u1kvuca2nifdrt7an8jrtsc77bf6sn97.apps.googleusercontent.com"
VITE_GOOGLE_CLIENT_ID = "66165770155-u1kvuca2nifdrt7an8jrtsc77bf6sn97.apps.googleusercontent.com"
STRIPE_PRICE_IGNITE = "price_1TC5fVIoyf122ZOh1zj7Zrny"
STRIPE_PRICE_DEV = "price_1TC5fVIoyf122ZOhqpL2gRjt"
STRIPE_PRICE_ULTRA = "price_1TC5fWIoyf122ZOhMzBHlNCi"
OMNIMENS_VERIFY_API_KEY = "omnimens_verify_165491bc41f5d7bb0e4adc54fa9ecc5304261456ba914dca5ef0cafd53fe7522"
